{:paths ["src/main/clojure" "target/classes"]
 :mvn/repos {"intellij-1" {:url "https://cache-redirector.jetbrains.com/intellij-dependencies"}
             "intellij-2" {:url "https://cache-redirector.jetbrains.com/repo1.maven.org/maven2"}
             "gradle-plugins" {:url "https://plugins.gradle.org/m2"}}
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.rpl/proxy-plus {:mvn/version "0.0.9"}
        com.jetbrains.intellij.platform/core {:mvn/version "233.4644"}}
 :aliases {:build {:deps {org.clojure/clojure {:mvn/version "1.11.1"}
                          io.github.clojure/tools.build {:git/url "https://github.com/clojure/tools.build.git"
                                                         :tag "v0.9.4"
                                                         :sha "76b78fe"}
                          slipset/deps-deploy {:mvn/version "0.2.1"}}
                   :ns-default build}}}
